.navbar-brand {
    color: yellow;
    text-size: 5px;
}

.nav-link {
    color: white;

}

.div-container {
    color:white;
    size: 20px;
}

.head {
    background-color: pink;
}

.mb-2 {
    color: white
}